@tailwind base;
@tailwind components;
@tailwind utilities;

p,
span,
h1,
h2,
div {
  color: white;
}

body {
  background: transparent !important;
  overflow-y: hidden;
  border-radius: 50px;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  border-radius: 50px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #000;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #494949;
  border-radius: 50px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}